NODE_ENV=development
PORT=3001
LOG_LEVEL=debug
DATABASE_URL=postgresql://postgres:your-password@service-container-name:5432/db-name
JWT_ISSUER=your-domain
JWT_AUDIENCE=client-domain
REDIS_URL=redis://:your-password@service-container-name:6379
ACCESS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-private-key\n-----END PRIVATE KEY-----"
ACCESS_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nyour-public-key\n-----END PUBLIC KEY-----"
REFRESH_TOKEN_EXPIRES_IN=7d
ACCESS_TOKEN_EXPIRES_IN=15m