NODE_ENV=development
PORT=3001
LOG_LEVEL=debug
DATABASE_URL=postgresql://postgres:your-password@service-container-name:5432/db-name
JWT_ISSUER=your-domain
JWT_AUDIENCE=client-domain
REDIS_URL=redis://:your-password@service-container-name:6379